.product-wrapper {
    display: flex;

    .card-image {
        img {
            margin-top: 10px;
            object-fit: cover;
            width: 150px;
            align-items: center;
            justify-content: center;
            display: flex;
          }
    }
}

.product-button {
    button {
        background-color: #cb967d;
        font-size: 1rem;
        text-decoration: none;
        border: 1px solid wheat;
        border-radius: 7px;
    }
}

.product-button:hover {
    button {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
        background-color: #cd7f5b;
        border: 1px solid wheat;
    }
}