.productlanding {
  background-color: #fff1ec;
  p {
    text-decoration: none;
    text-transform: capitalize;
  }
}

.btn-show {
  color: white;
  // background-color: crimson;
  background-color: #cb967d;
  border: solid 1px #f4dad1;
  border-radius: 5px;
}
.btn-show:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: #cd7f5b;
}

.product-row {
  background-color: #fff1ec;
}

// .prod-cart {
//   background-color: #cb967d;
//   color: white;
//   border-radius: 10px;
//   border: 1px solid wheat;
//   padding: 5px 10px 5px 10px;
// }

.card-landing {
  background-color: #fff1ec;
  justify-content: space-evenly;
  display: flex;
}

.prodland {
  background-color: #fff1ec;
  justify-content: space-evenly;
  display: flex;
}

.filter-panel {
  width: fit-content;
  background-color: #fff1ec;
  @include breakpoint(tabla) {
    display: none;
  }
}
