.container-login {
  height: 500px;
  margin-top: 65px;
  .card-login {
    background-color: #fff1ec;
    border-radius: 10px;
    height: 445px;
    width: 600px;
    @include breakpoint(tabpo) {
      width: 400px;
      height: 400px;
    }
    @include breakpoint(mobil) {
      width: 350px;
    }
    justify-content: start;
    .form-login {
      width: 400px;
      margin-top: 10px;
      @include breakpoint(tabpo) {
        width: 350px;
      }
      .btn-next {
        background-color: #cb967d;
        color: white;
        border: none;
      }
    }
  }
}
