.container-registration {
  height: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .card-registration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff1ec;
    height: 600px;
    width: 900px;
    .progress-bar {
      flex-grow: inherit;
      background-color: #cb967d;
    }
    .row {
      margin: 0px 50px;
      .btn-next {
        background-color: #cb967d;
        color: white;
        border: none;
      }
      .btn-prev {
        background-color: #cb967d;
        border: none;
        color: white;
      }
      .regsubmit {
        background-color: #cb967d;
        color: white;
        border: none;
      }
      .col-form-label {
        width: max-content;
      }
    }
  }
}
.btn-next:hover,
.btn-prev:hover,
.regsubmit:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: #cd7f5b;
}
