.cards-main:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.cards-main {
  justify-content: space-between;
  text-transform: none;
  display: flex;
  align-items: center;
  height: 330px;
  width: 245px;
  .card-body {
    .card-title {
      font-size: 16px;
    }
    .card-text {
      font-size: 20px;
    }
  }
  .add-cart {
    background-color: #cb967d;
    color: white;
    border-radius: 10px;
    border: 1px solid wheat;
    padding: 5px 10px 5px 10px;
  }
  .add-cart:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    background-color: #cd7f5b;
  }
  img {
    margin-top: 10px;
    object-fit: cover;
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
