// font halaman header - home - footer
// font-family: 'Rubik'
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

// font halaman service
// font-family: 'DM Sans'
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// font halaman pricing
// font-family: 'Roboto'
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
