@import "../components/mixins";

// .footer {
//   background-color: #f4dad1;
// }
// .footer-wrapper {
//   & .footer__address {
//     // display: none;
//   }

//   & .footer__shop {
//     @include breakpoint(mobil) {
//       display: none;
//     }
//     @include breakpoint(deskt) {
//       display: block;
//     }
//   }

//   & .footer__product {
//     @include breakpoint(mobil) {
//       display: none;
//     }

//     @include breakpoint(deskt) {
//       display: block;
//     }
//   }

//   & .footer__socmed {
//     // display: ;
//   }
// }

// @include breakpoint(deskt) {
.footer {
  background-color: #f4dad1;
}
.footer-wrapper {
  .footer-title {
    font-size: 1.75rem;
  }
  .footer-text {
    width: 320px;
    padding: 0px;
    @include breakpoint(tabla) {
      width: 200px;
    }
    &p {
      padding: 0px;
    }
  }
  .footer-row {
    width: 320px;
    padding: 0px;
    @include breakpoint(tabla) {
      width: 250px;
      padding-right: 20px;
    }
    .footer-col {
      width: 320px;
      padding: 0px;
      i {
        font-size: 30px;
        margin: 20px;
      }
      .subs {
        background-color: #cb967d;
        color: white;
      }
    }
  }
}
// }
.row-address {
  width: 320px;
  display: flex;
  flex-direction: row;
  @include breakpoint(deskt) {
    width: 250px;
  }
  @include breakpoint(tabpo) {
    width: 200px;
  }
}
