.carousel-inner {
  height: 500px !important;
  @include breakpoint(mobil) {
    height: 260px !important;
  }

  .carousel-item {
    height: 500px !important;
    @include breakpoint(mobil) {
      height: 260px !important;
    }
  }

  img {
    height: 500px;
    object-fit: cover;
    width: 100% !important;

    @include breakpoint(mobil) {
      height: 260px !important;
    }
  }
}
