@import "variables";

@mixin breakpoint($size) {
  @if $size == mobil {
    @media only screen and (max-width: map-get($breakpoint, "mobile")) {
      @content;
    }
  } @else if $size == tabpo {
    @media only screen and (max-width: map-get($breakpoint, "tablet-portrait")) {
      @content;
    }
  } @else if $size == tabla {
    @media only screen and (max-width: map-get($breakpoint, "tablet-landscape")) {
      @content;
    }
  } @else if $size == deskt {
    @media only screen and (max-width: map-get($breakpoint, "desktop")) {
      @content;
    }
  }
}

// mixin text homepage
@mixin titleHomeText {
  font-size: 28px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
  color: #0b132a;
}

@mixin primaryHomeText {
  font-size: 28px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
}

@mixin secondaryHomeText {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
}

@mixin startedHomeButton {
  font-size: 16px;
  font-weight: 700;
  background-color: #f53838;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 17.5px 78px;
  box-shadow: 0px 26px 54px 0px rgba(245, 56, 56, 0.35);
}

@mixin selectHomeButton {
}

@mixin subscribeHomeButton {
  font-size: 16px;
  font-weight: 700;
  background-color: #f53838;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 18.5px 65px;
  box-shadow: 0px 26px 54px 0px rgba(245, 56, 56, 0.35);
}
