.navbar {
  background-color: #f4dad1;
  padding: 50px;
  @include breakpoint(tabpo) {
    padding: 20px 10px;
  }
  @include breakpoint(mobil) {
    padding: 20px 10px;
  }

  .nav-fluid {
    padding: 15px;
    @include breakpoint(tabpo) {
      padding: 0px;
    }
    @include breakpoint(mobil) {
      padding: 0px;
    }
  }

  .navbar-search {
    .search-input {
      width: 400px;
      @include breakpoint(tabla) {
        width: 250px;
      }
      @include breakpoint(tabpo) {
        width: 200px;
      }
    }

    .input-group-text {
      background-color: #cb967d;
      color: white;
      font-size: 0.8rem;
      text-transform: uppercase;
      border: none;
    }
    .input-group-text:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
      background-color: #cd7f5b;
    }
  }

  .navbar-nav {
    .nav-before {
      display: flex;
      gap: 15px;
      // flex-direction: row;
      // justify-content: space-evenly;
      align-items: center;
      // width: 400px;
      @include breakpoint(tabla) {
        margin-left: 80px;
        margin: 0px;
        padding: 10px;
        width: 250px;
      }
      @include breakpoint(tabpo) {
        margin-left: 80px;
        margin-top: 20px;
        width: 250px;
      }

      & .nav-login {
        background-color: #cb967d;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        border-radius: 5px;
        // border: 1px solid black;
        padding: 7.5px 15px 7.5px 15px;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
            0 4px 8px rgba(0, 0, 0, 0.06);
          background-color: #cd7f5b;
          color: black;
        }
      }

      & .nav-register {
        background-color: #cb967d;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        color: black;
        border-radius: 5px;
        // border: 1px solid black;
        padding: 7.5px 15px 7.5px 15px;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
            0 4px 8px rgba(0, 0, 0, 0.06);
          background-color: #cd7f5b;
          color: white;
        }
      }
    }

    .nav-after {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 300px;
      img {
        width: 25px;
      }

      .logout {
        background-color: #cb967d;
        border: 1px solid wheat;
        border-radius: 10px;
        color: white;
        font-size: 0.8rem;
        padding: 10px 20px;
        font-weight: bolder;
        text-transform: uppercase;
        // color: #7a7371;
      }
      .logout:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
          0 4px 8px rgba(0, 0, 0, 0.06);
        background-color: #cd7f5b;
      }
    }
  }
}
.navbar-logo {
  padding: 0;
  background-color: #f4dad1;
  color: black;
  border: #cb967d;

  & img {
    width: 150px;
    // height: 60px;
  }
}
