@import "./mixins";
@import "./variables";
.topnav {
  padding: 10px 0px 0px 0px;
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  ul {
    display: flex;
  }
  li {
    margin-right: 20px;
  }
  a {
    color: #5e5e5e;
    font-weight: bold;
  }
  @include breakpoint(deskt) {
    display: none;
  }
}
