@import './components/mixins';
@import './components/variables';
@import './parts/fonts';
@import './parts/reset';
@import './components/topnav';
@import './components/navbar';
@import './components/hero';
@import './components/footer';
@import './parts/registration.scss';
@import './parts/login.scss';
@import './parts/mycart';
@import './components/card';
@import './parts/checkout';
@import './parts/productlanding';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

// .hottesss {
//   @include breakpoint(mobil) {
//     padding: 0 122px 0 12px;
//   }
// }

.btn-primary {
  background: #cb967d !important;
  border: none !important;
}

.btn-primary:hover {
  background: #d08d6f !important;
  border: none !important;
}

.homepage {
  a {
    text-decoration: none;
  }
  display: flex;
  flex-direction: column;
  background-color: #fff1ec;

  .carousel-inner {
    height: 500px;
    object-fit: cover;
  }
  .card__wrapper {
    // background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/003.webp");
    display: flex;
    flex-direction: column;
    // h3 {
    //   background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/003.webp");
    // }
    .card {
      justify-content: space-evenly;
    }
    h2 {
      text-align: center;
    }
    .modal-backdrop {
      display: none;
    }
  }
  .btn-baru {
    font-weight: bold;
    background-color: #cb967d;
    border: 1px solid wheat;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    height: 50px;
  }
  .btn-baru:hover {
    background-color: #cd7f5b;
    font-weight: bolder;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
}

.card-title {
  text-decoration: none;
}

.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .row-shipping {
    display: flex;
    border-radius: 10px;
    background-color: #cb967d;
    flex-direction: row;
    @include breakpoint(tabpo) {
      flex-direction: column;
    }
    .icon-img {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      padding: 10px;
      width: max-content;
      img {
        width: 5rem;
        margin-right: 10px;
        padding: 10px;
      }
      h5 {
        color: white;
        align-items: center;
        width: 150px;
      }
    }
  }
}

.row-thinks {
  height: 480px;
  padding: 0px;
  max-width: 1296px;
  padding-left: 25px;
  @include breakpoint(tabla) {
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    max-width: 1296px;
    font-size: 20px;
    padding-left: 25px;
  }
  @include breakpoint(tabpo) {
    height: 450px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    max-width: 1296px;
    font-size: 20px;
    padding-left: 25px;
  }
  @include breakpoint(mobil) {
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    max-width: 1296px;
    font-size: 20px;
    padding-left: 25px;
  }
  .think-high {
    background-color: #3c717a;
    justify-content: space-between;
    align-items: center;
    display: flex;
    p {
      color: #f4dad1;
      font-size: 2.5rem;
      @include breakpoint(tabla) {
        font-size: 2rem;
      }
    }
    .made-by {
      background-color: #3c717a;

      p {
        color: white;
        font-size: 2.3rem;
      }
    }
  }
  .your-skin {
    display: flex;
    background-color: #f4dad1;
    align-items: center;
    justify-content: center;
    background-color: #cb967d;
    @include breakpoint(mobil) {
      height: 480px;
    }
    p {
      color: white;
      font-size: 1.5rem;
    }
  }
}

.row-community {
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(tabla) {
    border-radius: 20px;
    height: auto;
    width: 100px;
  }
  .col-community {
    width: 500px;
    text-align: center;
    @include breakpoint(tabla) {
      border-radius: 20px;
      height: auto;
      width: 290px;
    }
    @include breakpoint(tabpo) {
      display: none;
    }

    p {
      font-weight: 600;
      text-align: center;
      font-size: 3.5rem;
      width: 500px;
      @include breakpoint(deskt) {
        width: 400px;
      }
      @include breakpoint(tabla) {
        font-size: 2.5rem;
        text-align: center;
      }
    }
  }

  .col-members {
    width: 320px;
    height: 200px;
    text-align: center;
    display: flex;
    p {
      font-size: 1.3rem;
      text-align: center;
      @include breakpoint(tabla) {
        display: none;
      }
    }
  }
}
.col-img-women {
  width: 650px;
  .img-about {
    width: 650px;
    @include breakpoint(deskt) {
      width: 450px;
    }
    @include breakpoint(tabpo) {
      width: 200px;
    }
  }
}
